<div class="template--home">
  
  <div class="row hero">
    <div class="small-12 small-centered medium-10 columns">
      <h1>Connecting governments with biodiversity information for sustainable development</h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <p>
        <strong>Biodiversity and ecosystem services are essential components of a healthy economy,</strong> relvant across all sectors of society. However, the continued loss of the Worlds biodiversity is having significant consequences across a range of sectors including poverty reduction and development.
      </p>
      <p>
        In order to achieve truly sustainable development, <strong>governments must integrate biodiversity and ecosystems services information</strong> into their decision making processes.
      </p>
    </div>
    
    <div class="small-12 medium-6 columns">
      <p>
        <strong>Biodiversity and ecosystem services are essential components of a healthy economy,</strong> relvant across all sectors of society. However, the continued loss of the Worlds biodiversity is having significant consequences across a range of sectors including poverty reduction and development.
      </p>

      FLAG FLAG FLAG
    </div>
  </div>

  <section class="bg__grey">

    <div class="row">
      <div class="small-12 columns">
        <h2>Using an innovative deman, supply and sustain model the project will:</h2>
      </div>
    </div>

    <div class="row home__task">
      <div class="small-12 medium-4 columns">
        ICON
      </div>
      <div class="small-12 medium-8 columns">
        <h3><span class="text__number">1</span>Understand Demand</h3>
        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
      </div>
    </div>

    <div class="row home__task">
      <div class="small-12 medium-8 columns">
        <h3><span class="text__number">2</span>Ensure Supply</h3>
        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
      </div>
      <div class="small-12 medium-4 columns">
        ICON
      </div>
    </div>


  <div class="row home__task">
      <div class="small-12 medium-4 columns">
        ICON
      </div>
      <div class="small-12 medium-8 columns">
        <h3><span class="text__number">3</span>Sustain the flow of information</h3>
        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
      </div>
    </div>

  </section>

  <section>
    <div class="row column">
      <h2>News, Events and Documents</h2>
    </div>
    Insert article listing partial here
  </section>
  
</div>