<% content_for :title do %>
  <%= @cms_page.label %>
<% end %>

<div class="template--news template-padding site-padding">
  <div class="row">
    <div class="small-12 columns">
      <h1>News and Documents</h1>
    </div>
    <div class="small-12 medium-10 large-8 columns end text--18 text--fira-sans">
      <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
  </div>

  <%= render partial: 'partials/articles', locals: { total_articles: 9 } %>
    
  </div>  
</div>