<footer class="footer">
  <div class="row">
    <div class="small-12 medium-offset-1 medium-5 columns">
      LOGO LOGO LOGO
    </div>
    <div class="small-12 medium-5 columns">
      FLAG FLAG FLAG
    </div>
  </div>
  
  <div class="bg__grey">
    <div class="row column">
      LOGO
    </div>
  </div>
</footer>