<header class="header">
  
  <div class="top-bar">

    <div class="top-bar__bar">
      <%= link_to root_path, title: 'Connect home page' do %>
        <%= image_tag 'logos/logo-connect.svg', alt: 'Connect logo', class: 'top-bar__logo' %>
      <% end %>
      
      <div class="top-bar__burger-wrapper fouc" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="top-bar__burger" type="button" data-toggle="main-menu"></button>
      </div>
    </div>

    <div id="main-menu" class="top-bar-right fouc">
      <nav class="nav">
        <%= active_link_to 'Home', root_path, { title: 'Home', class: 'nav__a' } %>

        <% Comfy::Cms::Site.first.pages.root.children.published.each do |page| %>
          <%= active_link_to page.label, page.url(:relative), { title: page.label, class: 'nav__a' } %>
        <% end %>
      </nav>
    </div>
  </div>

</header>