//--------------------------------------------------------------------------------
// base styles
//--------------------------------------------------------------------------------
// - site
// - sections
// - headings
// - lists
// - buttons
//--------------------------------------------------------------------------------
// site
//--------------------------------------------------------------------------------
// this class is used to add additional outer left and right padding to sections on 
// mobile and tablet
.site-padding {
  @include breakpoint(small only){
    padding-right: rem-calc(8);
    padding-left: rem-calc(8);
  }

  @include breakpoint(medium only){
    padding-right: rem-calc(15);
    padding-left: rem-calc(15);    
  }
}

//--------------------------------------------------------------------------------
// sections
//--------------------------------------------------------------------------------
section {
  &.section-padding {
    padding-top: rem-calc(28);
    padding-bottom: rem-calc(28);

    @include breakpoint(medium){ 
      padding-top: rem-calc(56);
      padding-bottom: rem-calc(56);
    }

    @include breakpoint(large){ 
      padding-top: rem-calc(70);
      padding-bottom: rem-calc(70);
    }
  }  
}

//--------------------------------------------------------------------------------
// headings
//--------------------------------------------------------------------------------
h1 {
  margin-bottom: rem-calc(18);

  @include breakpoint(medium){ margin-bottom: rem-calc(24); }
}

h4 {
    border-bottom: solid rem-calc(1) $medium-gray;
    color: $dark-gray;
    font-style: italic;
    font-weight: normal;
    margin-bottom: rem-calc(14);
    padding-bottom: rem-calc(8);
  }

//--------------------------------------------------------------------------------
// lists
//--------------------------------------------------------------------------------
//style up ul and ol to match design

//--------------------------------------------------------------------------------
// buttons
//--------------------------------------------------------------------------------
%button-text {
  font-family: $fira-sans;
  font-style: italic;
  font-weight: $semi-bold;
}

.button {
  @extend %button-text;
  margin-right: rem-calc(14);

  &--arrow {
    @extend %button-text;

    color: $primary-color;

    &:before {
      content: '\f177';
      font-family: $font-awesome;
      margin-right: rem-calc(10);
    }
  }
}