//--------------------------------------------------------------------------------
// fonts
//--------------------------------------------------------------------------------
// Two fonts are being imported via Google Fonts
//
// Fira Sans
// - Light
// - Regular
// - Medium
// - Semi-Bold
// - Semi-Bold Italic
//
// Lato
// - Regular
// - Bold
//--------------------------------------------------------------------------------
$fira-sans: 'Fira Sans', sans-serif;
$lato: 'Lato', sans-serif;
$font-awesome: FontAwesome;

$semi-bold: 600;
$light: 300;