//--------------------------------------------------------------------------------
// helper classes
//--------------------------------------------------------------------------------
// - backgrounds
// - display
// - prevent FOUC
// - text
// - site padding
//--------------------------------------------------------------------------------
// backgrounds
//--------------------------------------------------------------------------------
.bg--grey { background-color: $light-gray; }

//--------------------------------------------------------------------------------
// display
//--------------------------------------------------------------------------------
.inline-block { display: inline-block; }

//--------------------------------------------------------------------------------
// prevent FOUC
//--------------------------------------------------------------------------------
.loading-js {
  .fouc { display: none; }
}

//--------------------------------------------------------------------------------
// text
//--------------------------------------------------------------------------------
.text--fira-sans { font-family: $fira-sans; }
.text--lato { font-family: $lato; }

.text--light { font-weight: $light; }
.text--bold { font-weight: $global-weight-bold; }

.text--large { 
  font-size: rem-calc(18);

  @include breakpoint(medium){ font-size: rem-calc(20); }
  @include breakpoint(large){ font-size: rem-calc(22); }
}

.text--18 { 
  font-size: rem-calc(16); 
  
  @include breakpoint(medium){ font-size: rem-calc(17); }
  @include breakpoint(large){ font-size: rem-calc(18); }
}

.text--grey-dark { color: $black; }

.text--number {
  background-color: $primary-color;
  border-radius: 100%;
  color: $white;
  font-size: rem-calc(22);
  font-style: italic;
  font-weight: $semi-bold;
  line-height: rem-calc(39);
  margin-right: rem-calc(12);
  text-align: center;
  width: rem-calc(39); height: rem-calc(39);

  display: inline-block;

  @include breakpoint(large){
    font-size: rem-calc(26);
    line-height: rem-calc(45);
    width: rem-calc(45); height: rem-calc(45);
  }
}

//--------------------------------------------------------------------------------
// site padding
//--------------------------------------------------------------------------------
// this class is used to add additional outer left and right padding to sections on 
// mobile and tablet
.site-padding {
  @include breakpoint(small only){
    padding-right: rem-calc(8);
    padding-left: rem-calc(8);
  }

  @include breakpoint(medium only){
    padding-right: rem-calc(15);
    padding-left: rem-calc(15);    
  }
}
