//--------------------------------------------------------------------------------
// helper classes
//--------------------------------------------------------------------------------
// - backgrounds
// - text
//--------------------------------------------------------------------------------


//--------------------------------------------------------------------------------
// backgrounds
//--------------------------------------------------------------------------------
.bg__grey {
  background-color: $light-gray;
}

//--------------------------------------------------------------------------------
// text
//--------------------------------------------------------------------------------
.text__number {
  background-color: $secondary-color;
  border-radius: 100%;
  color: $white;
  font-size: rem-calc(20);
  font-style: italic;
  font-weight: bold;
  margin-right: rem-calc(12);
  text-align: center;
  width: rem-calc(30); height: rem-calc(30);

  display: inline-block;
}