.template {
  &-padding {
    padding: rem-calc(24 0 30 0);

    @include breakpoint(medium){ padding: rem-calc(40 0 50 0); }
    @include breakpoint(large){ padding: rem-calc(58 0 95 0); }
  }

  &--home {
    h2 {
      font-size: rem-calc(20);

      @include breakpoint(medium){ font-size:rem-calc(32); }
      @include breakpoint(large){ font-size:rem-calc(37); }
    }

    h3 {
      font-size: rem-calc(19);

      @include breakpoint(medium){ font-size:rem-calc(23); }
      @include breakpoint(large){ font-size:rem-calc(26); } 
    }
  }
}