//--------------------------------------------------------------------------------
// footer
//--------------------------------------------------------------------------------
.footer {
  border-top: solid rem-calc(1) $medium-gray;

  &__logos {
    padding-top: rem-calc(24);
    padding-bottom: rem-calc(24); 
    text-align: center;

    @include breakpoint(medium){
      padding-top: rem-calc(44);
      padding-bottom: rem-calc(44);
      text-align: left;      
    }
  }

    &__copy {
      color: $dark-gray;
      font-size: rem-calc(12);
      margin: rem-calc(8 0 0 0);
      text-align: center;

      @include breakpoint(medium){ 
        font-size: rem-calc(13);
        margin-right: 35%;
        text-align: left;
      }

      @include breakpoint(large){ font-size: rem-calc(14); }
    }

    &__link {
      margin-left: rem-calc(13);
      margin-bottom: rem-calc(18);
      text-decoration: none;

      display: inline-block;
      
      @include breakpoint(medium){ margin-left: rem-calc(28); }
      @include breakpoint(large){ margin-left: rem-calc(60); }

      &:first-child { margin: 0; }
    }

      &__logo {
        width: auto; height: rem-calc(44);
        max-width: none;

        @include breakpoint(medium only){
          height: 5vw;
          max-height: rem-calc(60);
        }

        @include breakpoint(large){
          height: rem-calc(60);
        }
      }

  &__contact {
    padding-top: rem-calc(24);
    padding-bottom: rem-calc(24);
    text-align: center;

    @include breakpoint(medium){
      text-align: left;
    }

    @include breakpoint(large){
      padding-top: rem-calc(44);
      padding-bottom: rem-calc(44);
    }

    &__link {
      text-decoration: none;
    }

    &__link,
    &-copy {
      @include breakpoint(small only){
        margin: rem-calc(10 0);
        display: block;  
      }
    }
    
    &__logo {
      @include breakpoint(small only){
        height: rem-calc(50);
      }
    }

    &-copy {
      
      color: $black;

      @include breakpoint(medium){
        margin-left: rem-calc(36);
      }

      i { margin-right: rem-calc(7); }
    }

    &--right {
      float: right;
    }
  }

  &__copyright {
    @include breakpoint(small only){
      text-align: center;
    }

    background-color: $medium-gray;
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }  
}