//--------------------------------------------------------------------------------
// icons
//--------------------------------------------------------------------------------
.icon-wrapper { margin-top: rem-calc(40); }

.icon {
  &--flag-link {
    margin-left: rem-calc(13);
    text-decoration: none;
    
    @include breakpoint(large){
      margin-left: rem-calc(30);
    }

    &:first-child { margin: 0; }

    .footer__logos & {
      @include breakpoint(large){
        margin-left: rem-calc(60);  

        &:first-child { margin: 0; }
      }
    }
  }

  &--flag {
    @include breakpoint(small only){
      width: 29%;
      max-width: rem-calc(73);
    }

    @include breakpoint(medium){
      width: rem-calc(73);
    }

    @include breakpoint(large){
      width: rem-calc(90);
    }
    
    .footer__logos & {
      &:first-child {
        @include breakpoint(medium){ margin: 0; }
      }
    }
  }
}