//--------------------------------------------------------------------------------
// icons
//--------------------------------------------------------------------------------
.icon-wrapper { margin-top: rem-calc(40); }

.icon {

  &--flag {
    @include breakpoint(small only){
      margin-left: rem-calc(13);
      width: 29%;
      max-width: rem-calc(73);
    }

    @include breakpoint(medium){
      margin-left: rem-calc(30);
      width: rem-calc(73);
    }

    @include breakpoint(large){
      width: rem-calc(90);
    }

    &:first-child { margin: 0; }
  }
}